doctype html
html
  head
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/footer.css" rel="stylesheet")
  body
    div#wrap
      div.container
        div.page-header
          h1 Sticky footer
        p.load Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.
        p 
          | Use 
          a(href="../sticky-footer-navbar") the sticky footer with a fixed navbar
          |  if need be, too.

    div#footer
      div.container
        p.text-muted Place sticky footer content here

