doctype html
html
  head
    link(rel='stylesheet', type='text/css' href='/main.css')
    block head
    meta(name='google-site-verification' content='8Vv0i0ZBgdHFJGEfTbVGesLwgakkPxeopubvN7z7RzY')
  body
    div
    h1= headline
    div.main-column
      block content
    div
      p (c) Itay Maman, 2014
