doctype html
html
  head
    link(rel='stylesheet', type='text/css' href='main.css')
    block head
  body
    div
      h1 THIS IS THE HEADLINE
    div.main-column
      block content
    div
      p THIS IS THE FOOTER
