doctype html
html
  head
    meta(name='google-site-verification' content='8Vv0i0ZBgdHFJGEfTbVGesLwgakkPxeopubvN7z7RzY')
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/footer.css" rel="stylesheet")
    block head
  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      div.container
        div.navbar-header
          a.navbar-brand(href="/posts") posts
          a.navbar-brand(href="#") unit testing
          a.navbar-brand(href="#") design
          a.navbar-brand(href="#") coding
          a.navbar-brand(href="#") about

        div(class="navbar-collapse collapse")

    block content

    div#footer
      div.container
        p.text-muted 
          | (c) Itay Maman, 2014; Powered by: 
          a(href='https://github.com') Github
          | &nbsp;(
          a(href='https://github.com/imaman/green-site') Fork me
          |),  
          a(href='http://nodejs.org/') Node.JS
          |, 
          a(href='https://npmjs.org/') NPM
          |, 
          a(href='https://travis-ci.org') Travis
          |, 
          a(href='https://dashboard.heroku.com/apps') Heroku

