doctype html
html
  head
    meta(name='google-site-verification' content='8Vv0i0ZBgdHFJGEfTbVGesLwgakkPxeopubvN7z7RzY')
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/footer.css" rel="stylesheet")
    block head
  body
    div(class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0px")
      div.container
        div.navbar-header
          a.navbar-brand(href="/posts") Home
          a.navbar-brand(href="/posts/about") About
          a.navbar-brand(href="//twitter.com/pembleton") Follow
          a.navbar-brand(href="//github.com/imaman/green-site") Fork
        div(class="navbar-collapse collapse")

  div#wrap
    div.jumbotron
      div.container
        h1= headline
        p
          | Coding, design, and broken feedback loops.
    block content

block footer
  if options.showFooter
    div(class="navbar navbar-default" role="navigation")
      div.container
        p.text-muted 
          | (c) Itay Maman, 2014; Powered by: 
          a(href='https://github.com') Github
          |,
          a(href='http://nodejs.org/') Node.JS
          |, 
          a(href='https://npmjs.org/') NPM
          |, 
          a(href='https://travis-ci.org') Travis
          |, 
          a(href='https://dashboard.heroku.com/apps') Heroku

