extend layout

block head
  title Sign in

block content
  div.container
    div.page-header
      h3 
        a(href="/auth/twitter") Sign in with Twitter
      h3 
        a(href="/auth/facebook") Sign in with Facebook
      h3 
        a(href="/auth/google") Sign in with Google

block footer

