extend layout

block head

block content
  div.container
    div.row
      div.col-md-3
        each val in posts
          div.post
            div.title
              a(href='/posts/' + val.id)= val.title
            div.publication-time= val.publishedAt

block footer
