extend layout

block head
  title= post.title

block content
  div.container
    div.page-header
      h1 
        = post.title
        | 
        small= post.publishedAt
    div.body!= post.body

    div(class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:0px;top:350px;")
      a.addthis_button_facebook
      a.addthis_button_twitter
      a.addthis_button_google_plusone_share
      a.addthis_button_linkedin
    script(type="text/javascript").
      var addthis_config = {"data_track_addressbar":true};
    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f153c94bd5243b")

